<h1><%= @subject.term %></h1>

<%= bar_graph2(@subject)%>
<%= decades(@subject)%>

<h2>Top Journals<% if @decade > 0 %> in <%= @decade %>s<% end %></h2>

<%= items_table(@subject.top(@decade)) %>

<h2>Top Cosubjects</h2>

<%= items_table(@subject.top_cosubjects) %>

<% content_for(:sidebar) do -%>
<%= treelist(@subject) %>
<script type="text/javascript">
tree = new YAHOO.widget.TreeView("treelist");
tree.render();
tree.subscribe('clickEvent',function () {return false;});
</script>
<% end -%>