<h1>Journals</h1>

<%= pagination %>

<ol>
<% @journals.each do |journal| -%>
  <li value="<%= @offset + @journals.index(journal) + 1 %>"><%= link_to journal.to_s, journal %> (<%= pluralize(number_with_delimiter(journal.articles_count), "article") %>) <%= sparkline(journal)%></li>
<% end -%>
</ol>

<%= pagination %>