<h1>Journals</h1>

<%= pagination %>

<table>
<% @journals.each do |journal| -%>
  <tr>
    <td><%= @offset + @journals.index(journal) + 1 %></td>
    <td><%= link_to journal.to_s, journal %></td>
    <td class="number"><%= pluralize(number_with_delimiter(journal.articles_count), "article") %></td>
    <td><%= sparkline(journal)%></td>
  </tr>
<% end -%>
</table>

<%= pagination %>