<h1><%= @journal.abbr %></h1>

<%= bar_graph(@journal)%>
<%= decades(@journal)%>

<h2>Top Subjects<% if @decade > 0 %> in <%= @decade %>s<% end %></h2>

<%= pagination %>
<%= items_table(@journal.top(@decade, @offset), @offset) %>
<%= pagination %>